@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #283142;
    --color-purple: #676FFF;
    --color-light-black: #1B2531;
    --color-dark-grey: #384459;
    --color-ligth-grey: #9AAABE;
    --color-white-ice: #E9E9E9;
    --color-snow-white: #CFCFCF;
    --color-gray: #5F6E82;
    --color-dark-gray: #242C3B;    
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--color-black);
    color: var(--color-white);
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}